In [47]:
import pandas as pd
import numpy as np
import statistics as st

In [48]:
cast = {'Greg' : 14, 
        'Marcia' : 12, 
        'Peter' : 11, 
        'Jan' : 10, 
        'Bobby' : 8, 
        'Cindy' : 6, 
        'Oliver' : 8}

In [49]:
df = pd.DataFrame.from_dict(cast, orient = 'index')
df.columns = ['Age']
df

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     6
Oliver    8

In [50]:
print("Mean = ", st.mean(df['Age']))
print()
print('Median = ', st.median(df['Age']))
print()
print('Mode = ', st.mode(df['Age']))
print()
print('Variance = ', np.var(df['Age']))
print()
print('Standard Deviation = ', np.std(df['Age']))
print()
print('Standard Error = ', np.std(df['Age'])/np.sqrt(len(df['Age'])-1))

Mean =  9.857142857142858

Median =  10

Mode =  8

Variance =  6.408163265306122

Standard Deviation =  2.531435020952764

Standard Error =  1.0334540197243194

In [51]:
#Using these estimates, if you had to choose only one estimate of central tendency 
#and one estimate of variance to describe the data, which would you pick and why?

In [52]:
print('I would choose the mean and variance together as methods of central tendency and variance.')
print()
print('The reason being that these two together(+-) covers the age range of all the kids included in this list.')

I would choose the mean and variance together as methods of central tendency and variance.

The reason being that these two together(+-) covers the age range of all the kids included in this list.

In [53]:
df.loc['Cindy'] += 1
df

        Age
Greg     14
Marcia   12
Peter    11
Jan      10
Bobby     8
Cindy     7
Oliver    8

In [54]:
print("New Mean = ", st.mean(df['Age']))
print()
print('New Median = ', st.median(df['Age']))
print()
print('New Mode = ', st.mode(df['Age']))
print()
print('New Variance = ', np.var(df['Age']))
print()
print('New Standard Deviation = ', np.std(df['Age']))
print()
print('New Standard Error = ', np.std(df['Age'])/np.sqrt(len(df['Age'])-1))

New Mean =  10

New Median =  10

New Mode =  8

New Variance =  5.428571428571429

New Standard Deviation =  2.32992949004287

New Standard Error =  0.951189731211342

In [55]:
print('Minor changes include the changes to the mean, standard deviation, and standard error.')
print('Variance comparably changed the most.')
print('The metrics median and mode did not change.')

Minor changes include the changes to the mean, standard deviation, and standard error.
Variance comparably changed the most.
The metrics median and mode did not change.

In [56]:
df.rename(index ={'Oliver' : 'Jessica'}, inplace=True)
df[6:] = 1

In [57]:
df

         Age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [58]:
print("Mean = ", st.mean(df['Age']))
print()
print('Median = ', st.median(df['Age']))
print()
print('Variance = ', np.var(df['Age']))
print()
print('Standard Deviation = ', np.std(df['Age']))
print()
print('Standard Error = ', np.std(df['Age'])/np.sqrt(len(df['Age'])-1))

Mean =  9

Median =  10

Variance =  15.428571428571429

Standard Deviation =  3.927922024247863

Standard Error =  1.6035674514745466

In [59]:
#Every age on the list is unique, which raises an error when using statistics to find the mode
#I could obtain the count or number of modes here, 
#but we can obvisously see from the dataframe given that the count for each age is one.
#Every age is unique, so there is no mode.

In [60]:
#Concerning methods of central tendency...

#This time arond I think the the variance is too large,
#making the mean and the varience too "inclusive" of data outside the dataset.

#The mean and standard deviation would be better measures to describe the central tendency this dataset.

In [61]:
#For the last question we can take the average of TV guide, Entertainment Weekly, and Pop Culture Today viewers
#who are still a fan of the show and make an assumption of the American Population (around 20%) who are still fans of 
#The Brady Bunch Today. 

#The SciPhi Magazine fans were exclued from this average becuase they more than likely respresent a very niche or small 
#percentage of the American Population. With that in mind, it would hard to assume their preferences are the same as most 
#Americans